.register-form-container{
  max-width: 400px;
  width: 100%;
}

.btn{
margin-top: 15px;
}

.offer-container{
  display : flex;
  justify-content: space-between;
}
/* @media (min-width: 768px) {
  .form-container {
    max-width: 500px;
  }
} */