
.reset-container{
  display: flex;
  justify-content: space-between;
}

.reset-password-instruction p{
  font-size: 15px;
  width: 100%;
  /* font-weight: 400; */

}

.term-of-service-reset{
  font-size:12px;

}